body {
  background-color: #e0e1e1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image{
  margin-top: 20px;
}

@media(max-width: 770px) {
  .container{
    margin: 0 10%
  }

  .image {
    width: 75%
  }
}